!!! 5
-# 'no-js' is for modernizr; it will be changed to 'js' in runtime.
%html{:class => 'no-js ' + browser.body_class}
  - unless request.xhr?
    %head
      %meta(charset='UTF-8')
      -# Use the latest IE engine, or Chrome frame.
      %meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')

      -# Mobile viewport optimization. j.mp/bplateviewport
      %meta(name='viewport' content='width=device-width, initial-scale=1.0')

      %title!= title
      != css :main, media: 'screen, projection'
      != css :loading, media: 'screen, projection'

      != js_cdn :modernizr
      != "<link href='http://fonts.googleapis.com/css?family=Shanti|PT+Sans:400,700' rel='stylesheet' type='text/css'>"
      - if ENV['ANALYTICS_ID']
        :javascript
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '#{ENV['ANALYTICS_ID']}']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

  %body.loading
    != yield

    - unless request.xhr?
      != js_cdn :jquery
      != js_cdn :underscore
      != js_cdn :backbone
      != js :application
      != js_chromeframe
